extends layout

block content
  h1
    | Автор: 
    if author && author.name
      #{author.name}
    else
      | Автор не знайдений

  if author
    p #{author.lifespan ? author.lifespan : ''}

  div(style='margin-left:20px;margin-top:20px')
    h2(style='font-size: 1.5rem;') Книги

    if author_books && author_books.length
      dl
        each book in author_books
          dt
            if book && book.url
              a(href=book.url) #{book.title}
            else if book
              | #{book.title}
          if book && book.summary
            dd #{book.summary}
          else
            dd Опис відсутній
    else
      p У цього автора немає книг.