extends layout

block content
  h1= title

  form(method='POST')
    div.form-group
      label Назва:
      input.form-control(type='text', name='title', value=(book ? book.title : ''), required)

    div.form-group
      label Автор:
      select.form-control(name='author', required)
        option(value='') -- Виберіть автора --
        each author in authors
          if book && author._id.toString() === book.author.toString()
            option(value=author._id selected) #{author.name}
          else
            option(value=author._id) #{author.name}

    div.form-group
      label Опис:
      textarea.form-control(name='summary')= book ? book.summary : ''

    div.form-group
      label ISBN:
      input.form-control(type='text', name='isbn', value=(book ? book.isbn : ''), required)

    div.form-group
      label Жанри:
      each genre in genres
        div
          if genre.checked
            input(type='checkbox', name='genre', value=genre._id, checked)
          else
            input(type='checkbox', name='genre', value=genre._id)
          |  #{genre.name}

    button.btn.btn-primary(type='submit') Зберегти

  if errors
    ul
      each error in errors
        li= error.msg