extends layout

block content
  h1= title

  h2 Книга
  if bookInstance && bookInstance.book
    if bookInstance.book.url
      a(href=bookInstance.book.url) #{bookInstance.book.title}
    else
      | #{bookInstance.book.title}
  else
    p Книга не указана

  h2 Статус
  if bookInstance
    span(class=bookInstance.status === 'Available' ? 'text-success' : bookInstance.status === 'Maintenance' ? 'text-danger' : 'text-warning')
      #{bookInstance.status}
  else
    p Статус не указан

  if bookInstance && bookInstance.status !== 'Available' && bookInstance.due_back
    h3 Дата повернення
    p #{bookInstance.due_back_formatted ? bookInstance.due_back_formatted : bookInstance.due_back}

  h2 Відбиток
  if bookInstance && bookInstance.imprint
    p #{bookInstance.imprint}
  else
    p Відбиток не вказаний

  h2 ID
  if bookInstance && bookInstance._id
    p #{bookInstance._id}
  else
    p ID не знайдено
    a(href=bookInstance.url + '/delete') Видалити екземпляр
    